In [86]:
import pandas as pd

In [87]:
paper_affiliation = pd.read_csv('./DATA/paper_affiliation.csv')
affiliation_name = pd.read_csv('./DATA/affiliation_name.csv')

In [88]:
paper_affiliation

        Unnamed: 0                 EID  Affiliation
0                0  2-s2.0-84906924652    114616449
1                1  2-s2.0-84906924652     60019572
2                2  2-s2.0-84906924652     60028190
3                3  2-s2.0-84906924652     60068806
4                4  2-s2.0-84907768931     60028190
...            ...                 ...          ...
202789      202789  2-s2.0-85170579320     60028190
202790      202790  2-s2.0-85170581578    106208652
202791      202791  2-s2.0-85170581578     60002620
202792      202792  2-s2.0-85170581578     60006314
202793      202793  2-s2.0-85170581578     60028190

[202794 rows x 3 columns]

In [89]:
paper_affiliation = paper_affiliation.drop(columns='Unnamed: 0')

paper_affiliation

                       EID  Affiliation
0       2-s2.0-84906924652    114616449
1       2-s2.0-84906924652     60019572
2       2-s2.0-84906924652     60028190
3       2-s2.0-84906924652     60068806
4       2-s2.0-84907768931     60028190
...                    ...          ...
202789  2-s2.0-85170579320     60028190
202790  2-s2.0-85170581578    106208652
202791  2-s2.0-85170581578     60002620
202792  2-s2.0-85170581578     60006314
202793  2-s2.0-85170581578     60028190

[202794 rows x 2 columns]

In [90]:
eid_list = paper_affiliation['EID'].value_counts().reset_index()['EID'].to_list()

In [91]:
relation_list = []

In [92]:
paper_affiliation

                       EID  Affiliation
0       2-s2.0-84906924652    114616449
1       2-s2.0-84906924652     60019572
2       2-s2.0-84906924652     60028190
3       2-s2.0-84906924652     60068806
4       2-s2.0-84907768931     60028190
...                    ...          ...
202789  2-s2.0-85170579320     60028190
202790  2-s2.0-85170581578    106208652
202791  2-s2.0-85170581578     60002620
202792  2-s2.0-85170581578     60006314
202793  2-s2.0-85170581578     60028190

[202794 rows x 2 columns]

In [93]:
affiliation_name.drop(columns='Unnamed: 0', inplace=True)
affiliation_name = affiliation_name.rename(columns={'affid' : 'Affiliation'})

paper_affiliation = paper_affiliation.merge(affiliation_name, on='Affiliation', how='inner')

In [94]:
paper_affiliation

,EID,Affiliation,_id,affname,location,Country
0,2-s2.0-84906924652,114616449,674f14777d5c644e629bc1f8,Adjunct University,Nigeria,Nigeria
1,2-s2.0-84906924652,60019572,674f029392fe4d3bb5a00826,Hainan Medical University,"No. 3 Xueyuan Road, Haikou, Hainan, China",China
2,2-s2.0-84906924652,60028190,674f1f3232601ca475ed8d31,Chulalongkorn University,"Pathumwan, 254 Phayathai Road, Bangkok, Thailand",Thailand
3,2-s2.0-84906924652,60068806,674f1abd32601ca475ed89bf,University of Niš,"Trg bratstva i jedinstva 2, Nis, Serbia",Serbia
4,2-s2.0-84907768931,60028190,674f1f3232601ca475ed8d31,Chulalongkorn University,"Pathumwan, 254 Phayathai Road, Bangkok, Thailand",Thailand
...,...,...,...,...,...,...
202498,2-s2.0-85170579320,60028190,674f1f3232601ca475ed8d31,Chulalongkorn University,"Pathumwan, 254 Phayathai Road, Bangkok, Thailand",Thailand
202499,2-s2.0-85170581578,106208652,674f1b007d5c644e629bc5a6,Academy of Science,"Dusit, Bangkok, Bangkok, Thailand",Thailand
202500,2-s2.0-85170581578,60002620,674f101a92fe4d3bb5a010be,"Faculty of Medicine, Chulalongkorn University","1st floor, Anantamahidol Building,, 1873, Rama...",Thailand
202501,2-s2.0-85170581578,60006314,674f0cde92fe4d3bb5a00efa,Prince of Songkla University,"15 Karnjanavanit Road, Hatyai, Songkhla, Thailand",Thailand
202502,2-s2.0-85170581578,60028190,674f1f3232601ca475ed8d31,Chulalongkorn University,"Pathumwan, 254 Phayathai Road, Bangkok, Thailand",Thailand

In [95]:
paper_affiliation = paper_affiliation.groupby(['EID', 'Country'])['_id'].count().reset_index().drop(columns='_id', axis=1)

In [104]:
paper_affiliation

                      EID         Country
0      2-s2.0-84906924652           China
1      2-s2.0-84906924652         Nigeria
2      2-s2.0-84906924652          Serbia
3      2-s2.0-84906924652        Thailand
4      2-s2.0-84907768931        Thailand
...                   ...             ...
66057  2-s2.0-85170576281        Thailand
66058  2-s2.0-85170577539        Thailand
66059  2-s2.0-85170577539  United Kingdom
66060  2-s2.0-85170579320        Thailand
66061  2-s2.0-85170581578        Thailand

[66062 rows x 2 columns]

In [97]:
for i in eid_list:
    this_df = paper_affiliation[paper_affiliation['EID'] ==i]
    country_in_this_paper = this_df['Country'].to_list()
    relation_list.append(country_in_this_paper)

In [101]:
cnt = 0

for i in relation_list:
    l = len(i)
    cnt += (l**2)

cnt

1466222