In [1133]:
import pandas as pd
import numpy as np

In [1134]:
funding_interest_aj = pd.read_csv('../06_Funding_Table_And_Geo_Code/funding_field_agency_one_row.csv')
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,2500,2018
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,3104,2018
2,2-s2.0-85049101440,NaN,1403,2018
3,2-s2.0-85049101440,NaN,2000,2018
4,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",3612,2018
...,...,...,...,...
50059,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1311,2023
50060,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,3400,2023
50061,2-s2.0-85164405594,NaN,1203,2023
50062,2-s2.0-85164405594,NaN,3310,2023
50063,2-s2.0-85164405594,NaN,1208,2023

In [1135]:
update_cite = pd.read_csv('../05_API_Correct_Cite_By_Data/UPDATE_CITE_TITLE.csv').drop(columns="Unnamed: 0")
update_cite

,Eid,Cite-By_Count,Title
0,2-s2.0-85029781991,61,Shear capacity of high performance fiber reinf...
1,2-s2.0-85049840335,0,Mutation operators in BPMN model
2,2-s2.0-85039703338,31,Phoyunnanin E inhibits migration of non-small ...
3,2-s2.0-85039924338,4,Investigation of alkoxysilanes in the presence...
4,2-s2.0-85039922690,0,Input modeling prioritization using statistica...
...,...,...,...
26943,2-s2.0-85076620291,0,Effects of 1-methylcyclopropene on ascorbate-g...
26944,2-s2.0-85076603666,6,Facile fabrication of mesostructured natural r...
26945,2-s2.0-85076582304,1,Model of No-Tobacco-Use-in-School (NTUIS) on t...
26946,2-s2.0-85076578743,2,A cohort study on homeless ways of life and ha...
26947,2-s2.0-85076565560,47,A phase II study of the efficacy and safety of...

In [1136]:
edit_sub_type = pd.read_csv('../01_Combine_Data/eid&subtype.csv')
edit_sub_type

                      Eid  Subtype  Publish_year  Publish_month
0      2-s2.0-85053164279  Article          2018             10
1      2-s2.0-85054140369  Article          2018             12
2      2-s2.0-85041527766  Article          2018              6
3      2-s2.0-85053470598  Article          2018              3
4      2-s2.0-85052134000  Article          2018              8
...                   ...      ...           ...            ...
16094  2-s2.0-85163056751  Article          2023              6
16095  2-s2.0-85158041187  Article          2023              6
16096  2-s2.0-85152540548  Article          2023              4
16097  2-s2.0-85132634561  Article          2023              1
16098  2-s2.0-85165609857  Article          2023              8

[16099 rows x 4 columns]

In [1137]:
funding_interest_aj = funding_interest_aj.merge(edit_sub_type, how='left', on='Eid')
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Subtype,Publish_year,Publish_month
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,2500,2018,Article,2018.0,10.0
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,3104,2018,Article,2018.0,10.0
2,2-s2.0-85049101440,NaN,1403,2018,NaN,NaN,NaN
3,2-s2.0-85049101440,NaN,2000,2018,NaN,NaN,NaN
4,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",3612,2018,Article,2018.0,12.0
...,...,...,...,...,...,...,...
50059,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1311,2023,Article,2023.0,8.0
50060,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,3400,2023,Article,2023.0,8.0
50061,2-s2.0-85164405594,NaN,1203,2023,NaN,NaN,NaN
50062,2-s2.0-85164405594,NaN,3310,2023,NaN,NaN,NaN
50063,2-s2.0-85164405594,NaN,1208,2023,NaN,NaN,NaN

In [1138]:
funding_interest_aj.isna().sum()

Eid                        0
Funding_Agency_Name    30531
Subject_Field              0
Year                       0
Subtype                10377
Publish_year           10377
Publish_month          10377
dtype: int64

In [1139]:
funding_interest_aj = funding_interest_aj[funding_interest_aj['Subtype'] == 'Article']
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Subtype,Publish_year,Publish_month
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,2500,2018,Article,2018.0,10.0
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,3104,2018,Article,2018.0,10.0
4,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",3612,2018,Article,2018.0,12.0
9,2-s2.0-85041527766,NaN,2741,2018,Article,2018.0,6.0
10,2-s2.0-85041527766,NaN,2715,2018,Article,2018.0,6.0
...,...,...,...,...,...,...,...
50056,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1106,2023,Article,2023.0,8.0
50057,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1314,2023,Article,2023.0,8.0
50058,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1103,2023,Article,2023.0,8.0
50059,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1311,2023,Article,2023.0,8.0
50060,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,3400,2023,Article,2023.0,8.0

In [1140]:
funding_interest_aj = funding_interest_aj.merge(update_cite, how='left', on='Eid')
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Subtype,Publish_year,Publish_month,Cite-By_Count,Title
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,2500,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,2500,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,3104,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
3,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,3104,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
4,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",3612,2018,Article,2018.0,12.0,11.0,Is the occiput-wall distance valid and reliabl...
...,...,...,...,...,...,...,...,...,...
36674,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1106,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
36675,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1314,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
36676,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1103,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
36677,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,1311,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
36678,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,3400,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...

In [1141]:
funding_interest_aj['Subject_Field'] = funding_interest_aj['Subject_Field'].apply(lambda x : str(x)[0:2])
funding_interest_aj = funding_interest_aj.drop_duplicates()
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Subtype,Publish_year,Publish_month,Cite-By_Count,Title
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,25,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,31,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
4,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",36,2018,Article,2018.0,12.0,11.0,Is the occiput-wall distance valid and reliabl...
6,2-s2.0-85041527766,NaN,27,2018,Article,2018.0,6.0,14.0,The impact of wire caliber on ERCP outcomes: a...
10,2-s2.0-85053470598,NaN,27,2018,Article,2018.0,3.0,4.0,The influence of neighbor effect and urbanizat...
...,...,...,...,...,...,...,...,...,...
36671,2-s2.0-85132634561,NaN,33,2023,Article,2023.0,1.0,52.0,Encouraging green product purchase: Green valu...
36673,2-s2.0-85132634561,NaN,23,2023,Article,2023.0,1.0,52.0,Encouraging green product purchase: Green valu...
36674,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,11,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
36675,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,13,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
36678,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,34,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...

In [1142]:
interest_scrape = pd.read_csv('../10_API_Get_2017_Subject_Area/api_subject_field.csv').drop(columns=['Unnamed: 0'])
interest_scrape

                     Eid                         Subject_Field
0     2-s2.0-85038429957  Agricultural and Biological Sciences
1     2-s2.0-85029811763  Agricultural and Biological Sciences
2     2-s2.0-85052976005  Agricultural and Biological Sciences
3     2-s2.0-85047899907  Agricultural and Biological Sciences
4     2-s2.0-85044253500  Agricultural and Biological Sciences
...                  ...                                   ...
3895  2-s2.0-85015335911                            Veterinary
3896  2-s2.0-85014089683                            Veterinary
3897  2-s2.0-85013374519                            Veterinary
3898  2-s2.0-84995751226                            Veterinary
3899  2-s2.0-84995567069                            Veterinary

[3900 rows x 2 columns]

In [1143]:
interest_scrape[interest_scrape['Eid'] == '2-s2.0-85118788235']

                     Eid                               Subject_Field
1618  2-s2.0-85118788235                       Environmental Science
3398  2-s2.0-85118788235  Pharmacology, Toxicology and Pharmaceutics

In [1144]:
funding_name_list_scrape = pd.read_csv('../09_Table_From_Scraping_Data/funding_field_agency_one_row_scrape.csv')
funding_name_list_scrape

                     Eid                                        Agency_Name
0     2-s2.0-85029781991     Chulalongkorn University Ministry of Education
1     2-s2.0-85039703338                                                NaN
2     2-s2.0-85039924338  Chulalongkorn University Thailand National Org...
3     2-s2.0-85039922521                           Chulalongkorn University
4     2-s2.0-85039920890  Chulalongkorn University National Research Uni...
...                  ...                                                ...
1712  2-s2.0-84964267738                                                NaN
1713  2-s2.0-84922900576                                                NaN
1714  2-s2.0-84928152781                                                NaN
1715  2-s2.0-84930797064                                                NaN
1716  2-s2.0-84905892595                     Thailand National Organization

[1717 rows x 2 columns]

In [1145]:
interest_scrape = interest_scrape.merge(funding_name_list_scrape, how='left', on='Eid')
interest_scrape

,Eid,Subject_Field,Agency_Name
0,2-s2.0-85038429957,Agricultural and Biological Sciences,Chulalongkorn University Russian Foundation Ru...
1,2-s2.0-85029811763,Agricultural and Biological Sciences,NaN
2,2-s2.0-85052976005,Agricultural and Biological Sciences,Thailand National Organization
3,2-s2.0-85047899907,Agricultural and Biological Sciences,NaN
4,2-s2.0-85044253500,Agricultural and Biological Sciences,Thailand National Organization
...,...,...,...
3895,2-s2.0-85015335911,Veterinary,Chulalongkorn University Office of Research Af...
3896,2-s2.0-85014089683,Veterinary,NaN
3897,2-s2.0-85013374519,Veterinary,NaN
3898,2-s2.0-84995751226,Veterinary,Chulalongkorn University National Research Uni...
3899,2-s2.0-84995567069,Veterinary,NaN

In [1146]:
funding_name_to_country = pd.read_csv('../11_ChatGPT_Funding_Agency_Name_Country/Funding_Name_To_Country_Chat_Clean.csv').drop(columns="Unnamed: 0").rename(columns={"funding_agency_name" : "Agency_Name", "Country" : "Merge_Country"})
funding_name_to_country

                                            Agency_Name Merge_Country
0                  Ratchadapisek Sompoch Endowment Fund      Thailand
1         Ministry for Science and Technology of Brazil        Brazil
2                          State University of Londrina        Brazil
3     Department of Chemical Engineering, Chulalongk...      Thailand
4                         Dow Chemical (Thailand), Ltd.      Thailand
...                                                 ...           ...
6134  Center of Scientific Equipment for Advanced Re...      Thailand
6135                            TU New Research Scholar      Thailand
6136  acknowledged and institute for research and de...      Thailand
6137                                               FAIR       Germany
6138                              Banrie Coffee Company      Thailand

[6139 rows x 2 columns]

In [1147]:
interest_scrape = interest_scrape.merge(funding_name_to_country, how='left', on='Agency_Name')

In [1148]:
interest_scrape

,Eid,Subject_Field,Agency_Name,Merge_Country
0,2-s2.0-85038429957,Agricultural and Biological Sciences,Chulalongkorn University Russian Foundation Ru...,NaN
1,2-s2.0-85029811763,Agricultural and Biological Sciences,NaN,NaN
2,2-s2.0-85052976005,Agricultural and Biological Sciences,Thailand National Organization,NaN
3,2-s2.0-85047899907,Agricultural and Biological Sciences,NaN,NaN
4,2-s2.0-85044253500,Agricultural and Biological Sciences,Thailand National Organization,NaN
...,...,...,...,...
3895,2-s2.0-85015335911,Veterinary,Chulalongkorn University Office of Research Af...,NaN
3896,2-s2.0-85014089683,Veterinary,NaN,NaN
3897,2-s2.0-85013374519,Veterinary,NaN,NaN
3898,2-s2.0-84995751226,Veterinary,Chulalongkorn University National Research Uni...,NaN
3899,2-s2.0-84995567069,Veterinary,NaN,NaN

In [1149]:
funding_interest_scrape = interest_scrape

In [1150]:
update_cite

,Eid,Cite-By_Count,Title
0,2-s2.0-85029781991,61,Shear capacity of high performance fiber reinf...
1,2-s2.0-85049840335,0,Mutation operators in BPMN model
2,2-s2.0-85039703338,31,Phoyunnanin E inhibits migration of non-small ...
3,2-s2.0-85039924338,4,Investigation of alkoxysilanes in the presence...
4,2-s2.0-85039922690,0,Input modeling prioritization using statistica...
...,...,...,...
26943,2-s2.0-85076620291,0,Effects of 1-methylcyclopropene on ascorbate-g...
26944,2-s2.0-85076603666,6,Facile fabrication of mesostructured natural r...
26945,2-s2.0-85076582304,1,Model of No-Tobacco-Use-in-School (NTUIS) on t...
26946,2-s2.0-85076578743,2,A cohort study on homeless ways of life and ha...
26947,2-s2.0-85076565560,47,A phase II study of the efficacy and safety of...

In [1151]:
funding_interest_scrape = funding_interest_scrape.merge(update_cite, how='left', on='Eid')

In [1152]:
funding_interest_scrape

,Eid,Subject_Field,Agency_Name,Merge_Country,Cite-By_Count,Title
0,2-s2.0-85038429957,Agricultural and Biological Sciences,Chulalongkorn University Russian Foundation Ru...,NaN,2,A new species of Cedria Wilkinson (Hymenoptera...
1,2-s2.0-85029811763,Agricultural and Biological Sciences,NaN,NaN,36,Mechanical and barrier properties of spray dri...
2,2-s2.0-85052976005,Agricultural and Biological Sciences,Thailand National Organization,NaN,9,"The first record of the pantropical millipede,..."
3,2-s2.0-85047899907,Agricultural and Biological Sciences,NaN,NaN,2,Esophagogastric region and liver tissue in dog...
4,2-s2.0-85044253500,Agricultural and Biological Sciences,Thailand National Organization,NaN,37,Brown rice and retrograded brown rice alleviat...
...,...,...,...,...,...,...
3895,2-s2.0-85015335911,Veterinary,Chulalongkorn University Office of Research Af...,NaN,13,Nasal carriage of methicillin-resistant Staphy...
3896,2-s2.0-85014089683,Veterinary,NaN,NaN,9,Distribution of methicillin-resistant coagulas...
3897,2-s2.0-85013374519,Veterinary,NaN,NaN,6,Pax5 as a potential candidate marker for canin...
3898,2-s2.0-84995751226,Veterinary,Chulalongkorn University National Research Uni...,NaN,16,Positive immunomodulatory effects of heterolog...
3899,2-s2.0-84995567069,Veterinary,NaN,NaN,8,GnRH-agonist implants suppress reproductive fu...

In [1153]:
funding_interest_aj = funding_interest_aj.rename(columns={"Funding_Agency_Name" : "Agency_Name"})
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Year,Subtype,Publish_year,Publish_month,Cite-By_Count,Title
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,25,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,31,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
4,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",36,2018,Article,2018.0,12.0,11.0,Is the occiput-wall distance valid and reliabl...
6,2-s2.0-85041527766,NaN,27,2018,Article,2018.0,6.0,14.0,The impact of wire caliber on ERCP outcomes: a...
10,2-s2.0-85053470598,NaN,27,2018,Article,2018.0,3.0,4.0,The influence of neighbor effect and urbanizat...
...,...,...,...,...,...,...,...,...,...
36671,2-s2.0-85132634561,NaN,33,2023,Article,2023.0,1.0,52.0,Encouraging green product purchase: Green valu...
36673,2-s2.0-85132634561,NaN,23,2023,Article,2023.0,1.0,52.0,Encouraging green product purchase: Green valu...
36674,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,11,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
36675,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,13,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
36678,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,34,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...

In [1154]:
country_code_to_name = pd.read_csv('../07_Scrape_Funding_Agency_From_Geo_Link/country_code_name.csv')
country_code_to_name

    Funding_Agency_Country_Code Funding_Agency_Country_Name
0                       1814991                       China
1                       1605651                    Thailand
2                       2750405             The Netherlands
3                       6252001               United States
4                       3469034                      Brazil
..                          ...                         ...
95                      1282988                       Nepal
96                      1655842                        Laos
97                      2215636                       Libya
98                      3355338                     Namibia
99                       895949                      Zambia

[100 rows x 2 columns]

In [1155]:
funding_interest_aj.isna().sum()

Eid                  0
Agency_Name      11632
Subject_Field        0
Year                 0
Subtype              0
Publish_year         0
Publish_month        0
Cite-By_Count       85
Title               85
dtype: int64

In [1156]:
funding_interest_aj = funding_interest_aj.merge(funding_name_to_country, how='left', on='Agency_Name')

In [1157]:
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Year,Subtype,Publish_year,Publish_month,Cite-By_Count,Title,Merge_Country
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,25,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,31,2018,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN
2,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",36,2018,Article,2018.0,12.0,11.0,Is the occiput-wall distance valid and reliabl...,NaN
3,2-s2.0-85041527766,NaN,27,2018,Article,2018.0,6.0,14.0,The impact of wire caliber on ERCP outcomes: a...,NaN
4,2-s2.0-85053470598,NaN,27,2018,Article,2018.0,3.0,4.0,The influence of neighbor effect and urbanizat...,NaN
...,...,...,...,...,...,...,...,...,...,...
23517,2-s2.0-85132634561,NaN,33,2023,Article,2023.0,1.0,52.0,Encouraging green product purchase: Green valu...,NaN
23518,2-s2.0-85132634561,NaN,23,2023,Article,2023.0,1.0,52.0,Encouraging green product purchase: Green valu...,NaN
23519,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,11,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,NaN
23520,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,13,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,NaN
23521,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,34,2023,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,NaN

In [1158]:
funding_interest_aj = funding_interest_aj[['Eid', 'Agency_Name', 'Subject_Field', 'Publish_month', 'Year', 'Title']]
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Title
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,25,10.0,2018,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,31,10.0,2018,Effects of iron content on the microstructure ...
2,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",36,12.0,2018,Is the occiput-wall distance valid and reliabl...
3,2-s2.0-85041527766,NaN,27,6.0,2018,The impact of wire caliber on ERCP outcomes: a...
4,2-s2.0-85053470598,NaN,27,3.0,2018,The influence of neighbor effect and urbanizat...
...,...,...,...,...,...,...
23517,2-s2.0-85132634561,NaN,33,1.0,2023,Encouraging green product purchase: Green valu...
23518,2-s2.0-85132634561,NaN,23,1.0,2023,Encouraging green product purchase: Green valu...
23519,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,11,8.0,2023,Administration of ketoprofen in postpartum sow...
23520,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,13,8.0,2023,Administration of ketoprofen in postpartum sow...
23521,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,34,8.0,2023,Administration of ketoprofen in postpartum sow...

In [1159]:
subject_area_lookup = {
    "10": "Multidisciplinary",
    "11": "Agricultural and Biological Sciences",
    "12": "Arts and Humanities",
    "13": "Biochemistry, Genetics and Molecular Biology",
    "14": "Business, Management and Accounting",
    "15": "Chemical Engineering",
    "16": "Chemistry",
    "17": "Computer Science",
    "18": "Decision Sciences",
    "19": "Earth and Planetary Sciences",
    "20": "Economics, Econometrics and Finance",
    "21": "Energy",
    "22": "Engineering",
    "23": "Environmental Science",
    "24": "Immunology and Microbiology",
    "25": "Materials Science",
    "26": "Mathematics",
    "27": "Medicine",
    "28": "Neuroscience",
    "29": "Nursing",
    "30": "Pharmacology, Toxicology and Pharmaceutics",
    "31": "Physics and Astronomy",
    "32": "Psychology",
    "33": "Social Sciences",
    "34": "Veterinary",
    "35": "Dentistry",
    "36": "Health Professions",
}

In [1160]:
funding_interest_aj['Subject_Field'] = funding_interest_aj['Subject_Field'].apply(lambda x : subject_area_lookup[str(x)])

/var/folders/4h/38r8tdhx24q66z8yh50jxbdw0000gn/T/ipykernel_66581/1134407904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  funding_interest_aj['Subject_Field'] = funding_interest_aj['Subject_Field'].apply(lambda x : subject_area_lookup[str(x)])

In [1161]:
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Title
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Materials Science,10.0,2018,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Physics and Astronomy,10.0,2018,Effects of iron content on the microstructure ...
2,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",Health Professions,12.0,2018,Is the occiput-wall distance valid and reliabl...
3,2-s2.0-85041527766,NaN,Medicine,6.0,2018,The impact of wire caliber on ERCP outcomes: a...
4,2-s2.0-85053470598,NaN,Medicine,3.0,2018,The influence of neighbor effect and urbanizat...
...,...,...,...,...,...,...
23517,2-s2.0-85132634561,NaN,Social Sciences,1.0,2023,Encouraging green product purchase: Green valu...
23518,2-s2.0-85132634561,NaN,Environmental Science,1.0,2023,Encouraging green product purchase: Green valu...
23519,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,Agricultural and Biological Sciences,8.0,2023,Administration of ketoprofen in postpartum sow...
23520,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,"Biochemistry, Genetics and Molecular Biology",8.0,2023,Administration of ketoprofen in postpartum sow...
23521,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,Veterinary,8.0,2023,Administration of ketoprofen in postpartum sow...

In [1162]:
funding_interest_aj.isna().sum()

Eid                  0
Agency_Name      11632
Subject_Field        0
Publish_month        0
Year                 0
Title               85
dtype: int64

In [1163]:
funding_interest_aj = funding_interest_aj[~funding_interest_aj['Title'].isna()].drop_duplicates()

In [1164]:
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Title
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Materials Science,10.0,2018,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Physics and Astronomy,10.0,2018,Effects of iron content on the microstructure ...
2,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",Health Professions,12.0,2018,Is the occiput-wall distance valid and reliabl...
3,2-s2.0-85041527766,NaN,Medicine,6.0,2018,The impact of wire caliber on ERCP outcomes: a...
4,2-s2.0-85053470598,NaN,Medicine,3.0,2018,The influence of neighbor effect and urbanizat...
...,...,...,...,...,...,...
23517,2-s2.0-85132634561,NaN,Social Sciences,1.0,2023,Encouraging green product purchase: Green valu...
23518,2-s2.0-85132634561,NaN,Environmental Science,1.0,2023,Encouraging green product purchase: Green valu...
23519,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,Agricultural and Biological Sciences,8.0,2023,Administration of ketoprofen in postpartum sow...
23520,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,"Biochemistry, Genetics and Molecular Biology",8.0,2023,Administration of ketoprofen in postpartum sow...
23521,2-s2.0-85165609857,Chulalongkorn University Thailand National Org...,Veterinary,8.0,2023,Administration of ketoprofen in postpartum sow...

In [1165]:
funding_interest_scrape = funding_interest_scrape[['Eid', 'Agency_Name', 'Subject_Field', 'Title']]

In [1166]:
funding_interest_scrape

,Eid,Agency_Name,Subject_Field,Title
0,2-s2.0-85038429957,Chulalongkorn University Russian Foundation Ru...,Agricultural and Biological Sciences,A new species of Cedria Wilkinson (Hymenoptera...
1,2-s2.0-85029811763,NaN,Agricultural and Biological Sciences,Mechanical and barrier properties of spray dri...
2,2-s2.0-85052976005,Thailand National Organization,Agricultural and Biological Sciences,"The first record of the pantropical millipede,..."
3,2-s2.0-85047899907,NaN,Agricultural and Biological Sciences,Esophagogastric region and liver tissue in dog...
4,2-s2.0-85044253500,Thailand National Organization,Agricultural and Biological Sciences,Brown rice and retrograded brown rice alleviat...
...,...,...,...,...
3895,2-s2.0-85015335911,Chulalongkorn University Office of Research Af...,Veterinary,Nasal carriage of methicillin-resistant Staphy...
3896,2-s2.0-85014089683,NaN,Veterinary,Distribution of methicillin-resistant coagulas...
3897,2-s2.0-85013374519,NaN,Veterinary,Pax5 as a potential candidate marker for canin...
3898,2-s2.0-84995751226,Chulalongkorn University National Research Uni...,Veterinary,Positive immunomodulatory effects of heterolog...
3899,2-s2.0-84995567069,NaN,Veterinary,GnRH-agonist implants suppress reproductive fu...

In [1167]:
scrape_data_pub_date = pd.read_csv('../12_Scrape_Publish_Date_2017_ChatGPT/Scrape_Data_Pub_Date.csv').rename(columns={'Public_Month' : 'Publish_month', 'Public_Year' : 'Year'})
scrape_data_pub_date.pop('Unnamed: 0')
scrape_data_pub_date

                    Eid  Publish_month  Year
0    2-s2.0-85038429957             12  2017
1    2-s2.0-85052976005             12  2017
2    2-s2.0-85044253500             12  2017
3    2-s2.0-85040114563             12  2017
4    2-s2.0-85032829181             12  2017
..                  ...            ...   ...
938  2-s2.0-85021182487              0  2017
939  2-s2.0-85019868358              5  2017
940  2-s2.0-85016559347              0  2017
941  2-s2.0-85016221051              0  2017
942  2-s2.0-85015335911              1  2017

[943 rows x 3 columns]

In [1168]:
funding_interest_scrape = funding_interest_scrape.merge(scrape_data_pub_date, how='left', on='Eid')
funding_interest_scrape

,Eid,Agency_Name,Subject_Field,Title,Publish_month,Year
0,2-s2.0-85038429957,Chulalongkorn University Russian Foundation Ru...,Agricultural and Biological Sciences,A new species of Cedria Wilkinson (Hymenoptera...,12.0,2017.0
1,2-s2.0-85029811763,NaN,Agricultural and Biological Sciences,Mechanical and barrier properties of spray dri...,NaN,NaN
2,2-s2.0-85052976005,Thailand National Organization,Agricultural and Biological Sciences,"The first record of the pantropical millipede,...",12.0,2017.0
3,2-s2.0-85047899907,NaN,Agricultural and Biological Sciences,Esophagogastric region and liver tissue in dog...,NaN,NaN
4,2-s2.0-85044253500,Thailand National Organization,Agricultural and Biological Sciences,Brown rice and retrograded brown rice alleviat...,12.0,2017.0
...,...,...,...,...,...,...
3895,2-s2.0-85015335911,Chulalongkorn University Office of Research Af...,Veterinary,Nasal carriage of methicillin-resistant Staphy...,1.0,2017.0
3896,2-s2.0-85014089683,NaN,Veterinary,Distribution of methicillin-resistant coagulas...,NaN,NaN
3897,2-s2.0-85013374519,NaN,Veterinary,Pax5 as a potential candidate marker for canin...,NaN,NaN
3898,2-s2.0-84995751226,Chulalongkorn University National Research Uni...,Veterinary,Positive immunomodulatory effects of heterolog...,1.0,2017.0
3899,2-s2.0-84995567069,NaN,Veterinary,GnRH-agonist implants suppress reproductive fu...,NaN,NaN

In [1169]:
funding_interest_scrape.isna().sum()

Eid                 0
Agency_Name      2230
Subject_Field       0
Title               0
Publish_month    2232
Year             2232
dtype: int64

In [1170]:
funding_interest_scrape = funding_interest_scrape[funding_interest_scrape['Publish_month'] != 0]

In [1171]:
all_funding_interest = pd.concat([funding_interest_aj, funding_interest_scrape])

In [1172]:
def mapping_country_function(x):
    mapping = {
        'Korea, Republic of' : 'South Korea',
        'Türkiye' : 'Turkey',
        'Iran, Islamic Republic of' : 'Iran'
    }

    if x in mapping:
        return mapping[x]
    else:
        return x

In [1173]:
all_funding_interest = all_funding_interest.drop_duplicates()

In [1174]:
all_funding_interest

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Title
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Materials Science,10.0,2018.0,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Physics and Astronomy,10.0,2018.0,Effects of iron content on the microstructure ...
2,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",Health Professions,12.0,2018.0,Is the occiput-wall distance valid and reliabl...
3,2-s2.0-85041527766,NaN,Medicine,6.0,2018.0,The impact of wire caliber on ERCP outcomes: a...
4,2-s2.0-85053470598,NaN,Medicine,3.0,2018.0,The influence of neighbor effect and urbanizat...
...,...,...,...,...,...,...
3895,2-s2.0-85015335911,Chulalongkorn University Office of Research Af...,Veterinary,1.0,2017.0,Nasal carriage of methicillin-resistant Staphy...
3896,2-s2.0-85014089683,NaN,Veterinary,NaN,NaN,Distribution of methicillin-resistant coagulas...
3897,2-s2.0-85013374519,NaN,Veterinary,NaN,NaN,Pax5 as a potential candidate marker for canin...
3898,2-s2.0-84995751226,Chulalongkorn University National Research Uni...,Veterinary,1.0,2017.0,Positive immunomodulatory effects of heterolog...
3899,2-s2.0-84995567069,NaN,Veterinary,NaN,NaN,GnRH-agonist implants suppress reproductive fu...

In [1175]:
# all_funding_interest[all_funding_interest['Year'] == '2017']['Eid'].drop_duplicates().to_csv('Pub_Date_2017_Scrape_List.csv')

In [1176]:
all_funding_interest['Agency_Name'].nunique()

3361

In [1177]:
all_data_index_term = pd.read_csv('../09_Table_From_Scraping_Data/all_data_index_term.csv')

In [1178]:
all_data_index_term

                      Eid                                        Index_Terms
0      2-s2.0-85053164279  304 stainless steel Capacitive behavior Corros...
1      2-s2.0-85049101440                                                ---
2      2-s2.0-85054140369  Adolescent Adult Aged Aged, 80 and over Child ...
3      2-s2.0-85097515350                                                ---
4      2-s2.0-85041527766  Catheterization Cholangiopancreatography, Endo...
...                   ...                                                ...
21928  2-s2.0-84964267738   Adult Article Child Cone-Beam Computed Tomogr...
21929  2-s2.0-84922900576   climate change conceptual framework demograph...
21930  2-s2.0-84928152781   Thailand ecotoxicology environmental impact e...
21931  2-s2.0-84930797064                                                ---
21932  2-s2.0-84905892595   Average surface roughness Ball end milling Ba...

[21933 rows x 2 columns]

In [1179]:
all_funding_interest = all_funding_interest.merge(all_data_index_term, how='left', on='Eid')

In [1180]:
all_funding_interest['Index_Terms'] = all_funding_interest['Index_Terms'].replace('---', None)

In [1181]:
all_funding_interest.isna().sum()

Eid                  0
Agency_Name      13798
Subject_Field        0
Publish_month     2232
Year              2232
Title                0
Index_Terms      10328
dtype: int64

In [1182]:
all_funding_interest.isna().sum()

Eid                  0
Agency_Name      13798
Subject_Field        0
Publish_month     2232
Year              2232
Title                0
Index_Terms      10328
dtype: int64

In [1183]:
all_funding_interest

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Title,Index_Terms
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Materials Science,10.0,2018.0,Effects of iron content on the microstructure ...,304 stainless steel Capacitive behavior Corros...
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Physics and Astronomy,10.0,2018.0,Effects of iron content on the microstructure ...,304 stainless steel Capacitive behavior Corros...
2,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",Health Professions,12.0,2018.0,Is the occiput-wall distance valid and reliabl...,"Adolescent Adult Aged Aged, 80 and over Child ..."
3,2-s2.0-85041527766,NaN,Medicine,6.0,2018.0,The impact of wire caliber on ERCP outcomes: a...,"Catheterization Cholangiopancreatography, Endo..."
4,2-s2.0-85053470598,NaN,Medicine,3.0,2018.0,The influence of neighbor effect and urbanizat...,"Adult Aged Aged, 80 and over Decision Making F..."
...,...,...,...,...,...,...,...
27122,2-s2.0-85015335911,Chulalongkorn University Office of Research Af...,Veterinary,1.0,2017.0,Nasal carriage of methicillin-resistant Staphy...,Animals Anti-Bacterial Agents Cephalexin Dog ...
27123,2-s2.0-85014089683,NaN,Veterinary,NaN,NaN,Distribution of methicillin-resistant coagulas...,Animal Technicians Animals Cat Diseases Cats ...
27124,2-s2.0-85013374519,NaN,Veterinary,NaN,NaN,Pax5 as a potential candidate marker for canin...,None
27125,2-s2.0-84995751226,Chulalongkorn University National Research Uni...,Veterinary,1.0,2017.0,Positive immunomodulatory effects of heterolog...,Animals Article DNA immunization DNA vaccine ...
27126,2-s2.0-84995567069,NaN,Veterinary,NaN,NaN,GnRH-agonist implants suppress reproductive fu...,NaN

In [1184]:
all_funding_interest['Has_Funding'] = all_funding_interest['Agency_Name'].apply(lambda x : 1 if type(x) == type(" ") else 0)

In [1185]:
all_funding_interest.pop('Year')
all_funding_interest.pop('Publish_month')
all_funding_interest

,Eid,Agency_Name,Subject_Field,Title,Index_Terms,Has_Funding
0,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Materials Science,Effects of iron content on the microstructure ...,304 stainless steel Capacitive behavior Corros...,1
1,2-s2.0-85053164279,Chulalongkorn University NSFC National Science...,Physics and Astronomy,Effects of iron content on the microstructure ...,304 stainless steel Capacitive behavior Corros...,1
2,2-s2.0-85054140369,"Faculty of Medicine, Khon Kaen University Raja...",Health Professions,Is the occiput-wall distance valid and reliabl...,"Adolescent Adult Aged Aged, 80 and over Child ...",1
3,2-s2.0-85041527766,NaN,Medicine,The impact of wire caliber on ERCP outcomes: a...,"Catheterization Cholangiopancreatography, Endo...",0
4,2-s2.0-85053470598,NaN,Medicine,The influence of neighbor effect and urbanizat...,"Adult Aged Aged, 80 and over Decision Making F...",0
...,...,...,...,...,...,...
27122,2-s2.0-85015335911,Chulalongkorn University Office of Research Af...,Veterinary,Nasal carriage of methicillin-resistant Staphy...,Animals Anti-Bacterial Agents Cephalexin Dog ...,1
27123,2-s2.0-85014089683,NaN,Veterinary,Distribution of methicillin-resistant coagulas...,Animal Technicians Animals Cat Diseases Cats ...,0
27124,2-s2.0-85013374519,NaN,Veterinary,Pax5 as a potential candidate marker for canin...,None,0
27125,2-s2.0-84995751226,Chulalongkorn University National Research Uni...,Veterinary,Positive immunomodulatory effects of heterolog...,Animals Article DNA immunization DNA vaccine ...,1
27126,2-s2.0-84995567069,NaN,Veterinary,GnRH-agonist implants suppress reproductive fu...,NaN,0

In [1186]:
all_funding_interest.isna().sum()

Eid                  0
Agency_Name      13798
Subject_Field        0
Title                0
Index_Terms      10328
Has_Funding          0
dtype: int64

In [1187]:
all_funding_interest.to_csv('TABLE1_5.csv', index=False)