In [404]:
import pandas as pd
import numpy as np

In [405]:
funding_interest_aj = pd.read_csv('../06_Funding_Table_And_Geo_Code/funding_organization_interest.csv')
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,2500,2018,NaN
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,3104,2018,NaN
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,2500,2018,NaN
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,3104,2018,NaN
4,2-s2.0-85053164279,NSFC,2500,2018,1814991.0
...,...,...,...,...,...
151745,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1106,2023,1605651.0
151746,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1314,2023,1605651.0
151747,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1103,2023,1605651.0
151748,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1311,2023,1605651.0
151749,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,3400,2023,1605651.0

In [406]:
update_cite = pd.read_csv('../05_API_Correct_Cite_By_Data/UPDATE_CITE_TITLE.csv').drop(columns="Unnamed: 0")
update_cite

,Eid,Cite-By_Count,Title
0,2-s2.0-85029781991,61,Shear capacity of high performance fiber reinf...
1,2-s2.0-85049840335,0,Mutation operators in BPMN model
2,2-s2.0-85039703338,31,Phoyunnanin E inhibits migration of non-small ...
3,2-s2.0-85039924338,4,Investigation of alkoxysilanes in the presence...
4,2-s2.0-85039922690,0,Input modeling prioritization using statistica...
...,...,...,...
26943,2-s2.0-85076620291,0,Effects of 1-methylcyclopropene on ascorbate-g...
26944,2-s2.0-85076603666,6,Facile fabrication of mesostructured natural r...
26945,2-s2.0-85076582304,1,Model of No-Tobacco-Use-in-School (NTUIS) on t...
26946,2-s2.0-85076578743,2,A cohort study on homeless ways of life and ha...
26947,2-s2.0-85076565560,47,A phase II study of the efficacy and safety of...

In [407]:
edit_sub_type = pd.read_csv('../01_Combine_Data/eid&subtype.csv')
edit_sub_type

                      Eid  Subtype  Publish_year  Publish_month
0      2-s2.0-85053164279  Article          2018             10
1      2-s2.0-85054140369  Article          2018             12
2      2-s2.0-85041527766  Article          2018              6
3      2-s2.0-85053470598  Article          2018              3
4      2-s2.0-85052134000  Article          2018              8
...                   ...      ...           ...            ...
16094  2-s2.0-85163056751  Article          2023              6
16095  2-s2.0-85158041187  Article          2023              6
16096  2-s2.0-85152540548  Article          2023              4
16097  2-s2.0-85132634561  Article          2023              1
16098  2-s2.0-85165609857  Article          2023              8

[16099 rows x 4 columns]

In [408]:
funding_interest_aj = funding_interest_aj.merge(edit_sub_type, how='left', on='Eid')
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code,Subtype,Publish_year,Publish_month
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,2500,2018,NaN,Article,2018.0,10.0
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,3104,2018,NaN,Article,2018.0,10.0
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,2500,2018,NaN,Article,2018.0,10.0
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,3104,2018,NaN,Article,2018.0,10.0
4,2-s2.0-85053164279,NSFC,2500,2018,1814991.0,Article,2018.0,10.0
...,...,...,...,...,...,...,...,...
151745,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1106,2023,1605651.0,Article,2023.0,8.0
151746,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1314,2023,1605651.0,Article,2023.0,8.0
151747,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1103,2023,1605651.0,Article,2023.0,8.0
151748,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1311,2023,1605651.0,Article,2023.0,8.0
151749,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,3400,2023,1605651.0,Article,2023.0,8.0

In [409]:
funding_interest_aj.isna().sum()

Eid                                0
Funding_Agency_Name             2430
Subject_Field                      0
Year                               0
Funding_Agency_Country_Code    47348
Subtype                        14934
Publish_year                   14934
Publish_month                  14934
dtype: int64

In [410]:
funding_interest_aj = funding_interest_aj[funding_interest_aj['Subtype'] == 'Article']
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code,Subtype,Publish_year,Publish_month
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,2500,2018,NaN,Article,2018.0,10.0
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,3104,2018,NaN,Article,2018.0,10.0
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,2500,2018,NaN,Article,2018.0,10.0
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,3104,2018,NaN,Article,2018.0,10.0
4,2-s2.0-85053164279,NSFC,2500,2018,1814991.0,Article,2018.0,10.0
...,...,...,...,...,...,...,...,...
151745,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1106,2023,1605651.0,Article,2023.0,8.0
151746,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1314,2023,1605651.0,Article,2023.0,8.0
151747,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1103,2023,1605651.0,Article,2023.0,8.0
151748,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1311,2023,1605651.0,Article,2023.0,8.0
151749,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,3400,2023,1605651.0,Article,2023.0,8.0

In [411]:
funding_interest_aj = funding_interest_aj.merge(update_cite, how='left', on='Eid')
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code,Subtype,Publish_year,Publish_month,Cite-By_Count,Title
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,2500,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,2500,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,3104,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
3,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,3104,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
4,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,2500,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
...,...,...,...,...,...,...,...,...,...,...
151527,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1106,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151528,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1314,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151529,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1103,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151530,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1311,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151531,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,3400,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...

In [412]:
funding_interest_aj['Subject_Field'] = funding_interest_aj['Subject_Field'].apply(lambda x : str(x)[0:2])
funding_interest_aj = funding_interest_aj.drop_duplicates()
funding_interest_aj

,Eid,Funding_Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code,Subtype,Publish_year,Publish_month,Cite-By_Count,Title
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,25,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,31,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
4,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,25,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
6,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,31,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
8,2-s2.0-85053164279,NSFC,25,2018,1814991.0,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
...,...,...,...,...,...,...,...,...,...,...
151523,2-s2.0-85165609857,National Research Council of Thailand,13,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151526,2-s2.0-85165609857,National Research Council of Thailand,34,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151527,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,11,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151528,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,13,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151531,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,34,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...

In [413]:
interest_scrape = pd.read_csv('../10_API_Get_2017_Subject_Area/api_subject_field.csv').drop(columns=['Unnamed: 0'])
interest_scrape

                     Eid                         Subject_Field
0     2-s2.0-85038429957  Agricultural and Biological Sciences
1     2-s2.0-85029811763  Agricultural and Biological Sciences
2     2-s2.0-85052976005  Agricultural and Biological Sciences
3     2-s2.0-85047899907  Agricultural and Biological Sciences
4     2-s2.0-85044253500  Agricultural and Biological Sciences
...                  ...                                   ...
3895  2-s2.0-85015335911                            Veterinary
3896  2-s2.0-85014089683                            Veterinary
3897  2-s2.0-85013374519                            Veterinary
3898  2-s2.0-84995751226                            Veterinary
3899  2-s2.0-84995567069                            Veterinary

[3900 rows x 2 columns]

In [414]:
interest_scrape[interest_scrape['Eid'] == '2-s2.0-85118788235']

                     Eid                               Subject_Field
1618  2-s2.0-85118788235                       Environmental Science
3398  2-s2.0-85118788235  Pharmacology, Toxicology and Pharmaceutics

In [415]:
funding_name_list_scrape = pd.read_csv('../09_Table_From_Scraping_Data/funding_list_by_eid_scrape.csv')
funding_name_list_scrape

,Eid,Agency_Name,Agency_ID,Agency_Country
0,2-s2.0-85029781991,Ratchadapisek Sompoch Endowment Fund,NaN,NaN
1,2-s2.0-85029781991,Ministry of Education,1.000100e+08,Thailand
2,2-s2.0-85029781991,Chulalongkorn University,5.011000e+11,Thailand
3,2-s2.0-85039924338,Ratchadapisek Sompoch Endowment Fund,NaN,NaN
4,2-s2.0-85039924338,Chulalongkorn University,5.011000e+11,Thailand
...,...,...,...,...
8084,2-s2.0-84979256587,International Center for Green Biotechnology o...,NaN,NaN
8085,2-s2.0-84979256587,Japan Society for the Promotion of Science,5.011000e+11,Japan
8086,2-s2.0-84979256587,"Ministry of Education, Culture, Sports, Scienc...",5.011000e+11,Japan
8087,2-s2.0-84929649705,Chulalongkorn University,5.011000e+11,Thailand
8088,2-s2.0-84905892595,Office of National Research Council of Thailand,NaN,NaN

In [416]:
interest_scrape = interest_scrape.merge(funding_name_list_scrape, how='left', on='Eid')
interest_scrape

,Eid,Subject_Field,Agency_Name,Agency_ID,Agency_Country
0,2-s2.0-85038429957,Agricultural and Biological Sciences,Rachadaphiseksomphot Fund,NaN,NaN
1,2-s2.0-85038429957,Agricultural and Biological Sciences,Russian State Research Project,NaN,NaN
2,2-s2.0-85038429957,Agricultural and Biological Sciences,Russian Foundation for Basic Research,5.011000e+11,Russian Federation
3,2-s2.0-85038429957,Agricultural and Biological Sciences,Chulalongkorn University,5.011000e+11,Thailand
4,2-s2.0-85038429957,Agricultural and Biological Sciences,Thailand Research Fund,5.011000e+11,Thailand
...,...,...,...,...,...
14048,2-s2.0-84995751226,Veterinary,National Research University Project,NaN,NaN
14049,2-s2.0-84995751226,Veterinary,Office of the Higher Education Commission,1.000125e+08,Thailand
14050,2-s2.0-84995751226,Veterinary,Chulalongkorn University,5.011000e+11,Thailand
14051,2-s2.0-84995751226,Veterinary,Thailand Research Fund,5.011000e+11,Thailand
14052,2-s2.0-84995567069,Veterinary,NaN,NaN,NaN

In [417]:
funding_name_to_country = pd.read_csv('../11_ChatGPT_Funding_Agency_Name_Country/Funding_Name_To_Country_Chat_Clean.csv').drop(columns="Unnamed: 0").rename(columns={"funding_agency_name" : "Agency_Name", "Country" : "Merge_Country"})
funding_name_to_country

                                            Agency_Name Merge_Country
0                  Ratchadapisek Sompoch Endowment Fund      Thailand
1         Ministry for Science and Technology of Brazil        Brazil
2                          State University of Londrina        Brazil
3     Department of Chemical Engineering, Chulalongk...      Thailand
4                         Dow Chemical (Thailand), Ltd.      Thailand
...                                                 ...           ...
6134  Center of Scientific Equipment for Advanced Re...      Thailand
6135                            TU New Research Scholar      Thailand
6136  acknowledged and institute for research and de...      Thailand
6137                                               FAIR       Germany
6138                              Banrie Coffee Company      Thailand

[6139 rows x 2 columns]

In [418]:
interest_scrape = interest_scrape.merge(funding_name_to_country, how='left', on='Agency_Name')

In [419]:
interest_scrape['Country'] = np.where(
    interest_scrape['Agency_Country'].notna(), 
    interest_scrape['Agency_Country'], 
    interest_scrape['Merge_Country']
)

In [420]:
interest_scrape = interest_scrape[~interest_scrape['Country'].isna() & ~interest_scrape['Agency_Name'].isna()][['Eid', 'Agency_Name', 'Subject_Field', 'Country']]
interest_scrape['Year'] = '2017'

In [421]:
interest_scrape

,Eid,Agency_Name,Subject_Field,Country,Year
0,2-s2.0-85038429957,Rachadaphiseksomphot Fund,Agricultural and Biological Sciences,Thailand,2017
1,2-s2.0-85038429957,Russian State Research Project,Agricultural and Biological Sciences,Russia,2017
2,2-s2.0-85038429957,Russian Foundation for Basic Research,Agricultural and Biological Sciences,Russian Federation,2017
3,2-s2.0-85038429957,Chulalongkorn University,Agricultural and Biological Sciences,Thailand,2017
4,2-s2.0-85038429957,Thailand Research Fund,Agricultural and Biological Sciences,Thailand,2017
...,...,...,...,...,...
14045,2-s2.0-85015335911,National Research Council of Thailand,Veterinary,Thailand,2017
14048,2-s2.0-84995751226,National Research University Project,Veterinary,Russia,2017
14049,2-s2.0-84995751226,Office of the Higher Education Commission,Veterinary,Thailand,2017
14050,2-s2.0-84995751226,Chulalongkorn University,Veterinary,Thailand,2017
14051,2-s2.0-84995751226,Thailand Research Fund,Veterinary,Thailand,2017

In [422]:
funding_interest_scrape = interest_scrape

In [423]:
update_cite

,Eid,Cite-By_Count,Title
0,2-s2.0-85029781991,61,Shear capacity of high performance fiber reinf...
1,2-s2.0-85049840335,0,Mutation operators in BPMN model
2,2-s2.0-85039703338,31,Phoyunnanin E inhibits migration of non-small ...
3,2-s2.0-85039924338,4,Investigation of alkoxysilanes in the presence...
4,2-s2.0-85039922690,0,Input modeling prioritization using statistica...
...,...,...,...
26943,2-s2.0-85076620291,0,Effects of 1-methylcyclopropene on ascorbate-g...
26944,2-s2.0-85076603666,6,Facile fabrication of mesostructured natural r...
26945,2-s2.0-85076582304,1,Model of No-Tobacco-Use-in-School (NTUIS) on t...
26946,2-s2.0-85076578743,2,A cohort study on homeless ways of life and ha...
26947,2-s2.0-85076565560,47,A phase II study of the efficacy and safety of...

In [424]:
funding_interest_scrape = funding_interest_scrape.merge(update_cite, how='left', on='Eid')

In [425]:
funding_interest_scrape

,Eid,Agency_Name,Subject_Field,Country,Year,Cite-By_Count,Title
0,2-s2.0-85038429957,Rachadaphiseksomphot Fund,Agricultural and Biological Sciences,Thailand,2017,2,A new species of Cedria Wilkinson (Hymenoptera...
1,2-s2.0-85038429957,Russian State Research Project,Agricultural and Biological Sciences,Russia,2017,2,A new species of Cedria Wilkinson (Hymenoptera...
2,2-s2.0-85038429957,Russian Foundation for Basic Research,Agricultural and Biological Sciences,Russian Federation,2017,2,A new species of Cedria Wilkinson (Hymenoptera...
3,2-s2.0-85038429957,Chulalongkorn University,Agricultural and Biological Sciences,Thailand,2017,2,A new species of Cedria Wilkinson (Hymenoptera...
4,2-s2.0-85038429957,Thailand Research Fund,Agricultural and Biological Sciences,Thailand,2017,2,A new species of Cedria Wilkinson (Hymenoptera...
...,...,...,...,...,...,...,...
11409,2-s2.0-85015335911,National Research Council of Thailand,Veterinary,Thailand,2017,13,Nasal carriage of methicillin-resistant Staphy...
11410,2-s2.0-84995751226,National Research University Project,Veterinary,Russia,2017,16,Positive immunomodulatory effects of heterolog...
11411,2-s2.0-84995751226,Office of the Higher Education Commission,Veterinary,Thailand,2017,16,Positive immunomodulatory effects of heterolog...
11412,2-s2.0-84995751226,Chulalongkorn University,Veterinary,Thailand,2017,16,Positive immunomodulatory effects of heterolog...
11413,2-s2.0-84995751226,Thailand Research Fund,Veterinary,Thailand,2017,16,Positive immunomodulatory effects of heterolog...

In [426]:
funding_interest_aj = funding_interest_aj.rename(columns={"Funding_Agency_Name" : "Agency_Name"})
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code,Subtype,Publish_year,Publish_month,Cite-By_Count,Title
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,25,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,31,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
4,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,25,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
6,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,31,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
8,2-s2.0-85053164279,NSFC,25,2018,1814991.0,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...
...,...,...,...,...,...,...,...,...,...,...
151523,2-s2.0-85165609857,National Research Council of Thailand,13,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151526,2-s2.0-85165609857,National Research Council of Thailand,34,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151527,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,11,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151528,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,13,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...
151531,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,34,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...

In [427]:
country_code_to_name = pd.read_csv('../07_Scrape_Funding_Agency_From_Geo_Link/country_code_name.csv')
country_code_to_name

    Funding_Agency_Country_Code Funding_Agency_Country_Name
0                       1814991                       China
1                       1605651                    Thailand
2                       2750405             The Netherlands
3                       6252001               United States
4                       3469034                      Brazil
..                          ...                         ...
95                      1282988                       Nepal
96                      1655842                        Laos
97                      2215636                       Libya
98                      3355338                     Namibia
99                       895949                      Zambia

[100 rows x 2 columns]

In [428]:
funding_interest_aj = funding_interest_aj.merge(country_code_to_name, how='left', on='Funding_Agency_Country_Code')
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code,Subtype,Publish_year,Publish_month,Cite-By_Count,Title,Funding_Agency_Country_Name
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,25,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,31,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,25,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,31,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN
4,2-s2.0-85053164279,NSFC,25,2018,1814991.0,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,China
...,...,...,...,...,...,...,...,...,...,...,...
102691,2-s2.0-85165609857,National Research Council of Thailand,13,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand
102692,2-s2.0-85165609857,National Research Council of Thailand,34,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand
102693,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,11,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand
102694,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,13,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand
102695,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,34,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand

In [429]:
funding_interest_aj.isna().sum()

Eid                                0
Agency_Name                     1267
Subject_Field                      0
Year                               0
Funding_Agency_Country_Code    28691
Subtype                            0
Publish_year                       0
Publish_month                      0
Cite-By_Count                    141
Title                            141
Funding_Agency_Country_Name    30999
dtype: int64

In [430]:
funding_interest_aj = funding_interest_aj.merge(funding_name_to_country, how='left', on='Agency_Name')

In [431]:
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code,Subtype,Publish_year,Publish_month,Cite-By_Count,Title,Funding_Agency_Country_Name,Merge_Country
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,25,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN,Thailand
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,31,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN,Thailand
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,25,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN,Thailand
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,31,2018,NaN,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,NaN,Thailand
4,2-s2.0-85053164279,NSFC,25,2018,1814991.0,Article,2018.0,10.0,11.0,Effects of iron content on the microstructure ...,China,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
102691,2-s2.0-85165609857,National Research Council of Thailand,13,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand,Thailand
102692,2-s2.0-85165609857,National Research Council of Thailand,34,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand,Thailand
102693,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,11,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand,Thailand
102694,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,13,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand,Thailand
102695,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,34,2023,1605651.0,Article,2023.0,8.0,4.0,Administration of ketoprofen in postpartum sow...,Thailand,Thailand

In [432]:
funding_interest_aj['Country'] = funding_interest_aj['Country'] = np.where(
    funding_interest_aj['Funding_Agency_Country_Name'].notna(), 
    funding_interest_aj['Funding_Agency_Country_Name'], 
    funding_interest_aj['Merge_Country']
)

In [433]:
funding_interest_aj = funding_interest_aj[['Eid', 'Agency_Name', 'Subject_Field', 'Publish_month', 'Year', 'Country', 'Title']]
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Country,Title
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,25,10.0,2018,Thailand,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,31,10.0,2018,Thailand,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,25,10.0,2018,Thailand,Effects of iron content on the microstructure ...
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,31,10.0,2018,Thailand,Effects of iron content on the microstructure ...
4,2-s2.0-85053164279,NSFC,25,10.0,2018,China,Effects of iron content on the microstructure ...
...,...,...,...,...,...,...,...
102691,2-s2.0-85165609857,National Research Council of Thailand,13,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102692,2-s2.0-85165609857,National Research Council of Thailand,34,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102693,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,11,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102694,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,13,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102695,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,34,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...

In [434]:
subject_area_lookup = {
    "10": "Multidisciplinary",
    "11": "Agricultural and Biological Sciences",
    "12": "Arts and Humanities",
    "13": "Biochemistry, Genetics and Molecular Biology",
    "14": "Business, Management and Accounting",
    "15": "Chemical Engineering",
    "16": "Chemistry",
    "17": "Computer Science",
    "18": "Decision Sciences",
    "19": "Earth and Planetary Sciences",
    "20": "Economics, Econometrics and Finance",
    "21": "Energy",
    "22": "Engineering",
    "23": "Environmental Science",
    "24": "Immunology and Microbiology",
    "25": "Materials Science",
    "26": "Mathematics",
    "27": "Medicine",
    "28": "Neuroscience",
    "29": "Nursing",
    "30": "Pharmacology, Toxicology and Pharmaceutics",
    "31": "Physics and Astronomy",
    "32": "Psychology",
    "33": "Social Sciences",
    "34": "Veterinary",
    "35": "Dentistry",
    "36": "Health Professions",
}

In [435]:
funding_interest_aj['Subject_Field'] = funding_interest_aj['Subject_Field'].apply(lambda x : subject_area_lookup[str(x)])

/var/folders/4h/38r8tdhx24q66z8yh50jxbdw0000gn/T/ipykernel_58678/1134407904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  funding_interest_aj['Subject_Field'] = funding_interest_aj['Subject_Field'].apply(lambda x : subject_area_lookup[str(x)])

In [436]:
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Country,Title
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,Materials Science,10.0,2018,Thailand,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,Physics and Astronomy,10.0,2018,Thailand,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,Materials Science,10.0,2018,Thailand,Effects of iron content on the microstructure ...
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,Physics and Astronomy,10.0,2018,Thailand,Effects of iron content on the microstructure ...
4,2-s2.0-85053164279,NSFC,Materials Science,10.0,2018,China,Effects of iron content on the microstructure ...
...,...,...,...,...,...,...,...
102691,2-s2.0-85165609857,National Research Council of Thailand,"Biochemistry, Genetics and Molecular Biology",8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102692,2-s2.0-85165609857,National Research Council of Thailand,Veterinary,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102693,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,Agricultural and Biological Sciences,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102694,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,"Biochemistry, Genetics and Molecular Biology",8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102695,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,Veterinary,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...

In [437]:
funding_interest_aj.isna().sum()

Eid                 0
Agency_Name      1267
Subject_Field       0
Publish_month       0
Year                0
Country          6996
Title             141
dtype: int64

In [438]:
funding_interest_aj = funding_interest_aj.dropna().drop_duplicates()

In [439]:
funding_interest_aj

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Country,Title
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,Materials Science,10.0,2018,Thailand,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,Physics and Astronomy,10.0,2018,Thailand,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,Materials Science,10.0,2018,Thailand,Effects of iron content on the microstructure ...
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,Physics and Astronomy,10.0,2018,Thailand,Effects of iron content on the microstructure ...
4,2-s2.0-85053164279,NSFC,Materials Science,10.0,2018,China,Effects of iron content on the microstructure ...
...,...,...,...,...,...,...,...
102691,2-s2.0-85165609857,National Research Council of Thailand,"Biochemistry, Genetics and Molecular Biology",8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102692,2-s2.0-85165609857,National Research Council of Thailand,Veterinary,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102693,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,Agricultural and Biological Sciences,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102694,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,"Biochemistry, Genetics and Molecular Biology",8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...
102695,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,Veterinary,8.0,2023,Thailand,Administration of ketoprofen in postpartum sow...

In [440]:
funding_interest_scrape = funding_interest_scrape[['Eid', 'Agency_Name', 'Subject_Field', 'Country', 'Title']]

In [441]:
funding_interest_scrape

,Eid,Agency_Name,Subject_Field,Country,Title
0,2-s2.0-85038429957,Rachadaphiseksomphot Fund,Agricultural and Biological Sciences,Thailand,A new species of Cedria Wilkinson (Hymenoptera...
1,2-s2.0-85038429957,Russian State Research Project,Agricultural and Biological Sciences,Russia,A new species of Cedria Wilkinson (Hymenoptera...
2,2-s2.0-85038429957,Russian Foundation for Basic Research,Agricultural and Biological Sciences,Russian Federation,A new species of Cedria Wilkinson (Hymenoptera...
3,2-s2.0-85038429957,Chulalongkorn University,Agricultural and Biological Sciences,Thailand,A new species of Cedria Wilkinson (Hymenoptera...
4,2-s2.0-85038429957,Thailand Research Fund,Agricultural and Biological Sciences,Thailand,A new species of Cedria Wilkinson (Hymenoptera...
...,...,...,...,...,...
11409,2-s2.0-85015335911,National Research Council of Thailand,Veterinary,Thailand,Nasal carriage of methicillin-resistant Staphy...
11410,2-s2.0-84995751226,National Research University Project,Veterinary,Russia,Positive immunomodulatory effects of heterolog...
11411,2-s2.0-84995751226,Office of the Higher Education Commission,Veterinary,Thailand,Positive immunomodulatory effects of heterolog...
11412,2-s2.0-84995751226,Chulalongkorn University,Veterinary,Thailand,Positive immunomodulatory effects of heterolog...
11413,2-s2.0-84995751226,Thailand Research Fund,Veterinary,Thailand,Positive immunomodulatory effects of heterolog...

In [442]:
scrape_data_pub_date = pd.read_csv('../12_Scrape_Publish_Date_2017_ChatGPT/Scrape_Data_Pub_Date.csv').rename(columns={'Public_Month' : 'Publish_month', 'Public_Year' : 'Year'})
scrape_data_pub_date.pop('Unnamed: 0')
scrape_data_pub_date

                    Eid  Publish_month  Year
0    2-s2.0-85038429957             12  2017
1    2-s2.0-85052976005             12  2017
2    2-s2.0-85044253500             12  2017
3    2-s2.0-85040114563             12  2017
4    2-s2.0-85032829181             12  2017
..                  ...            ...   ...
938  2-s2.0-85021182487              0  2017
939  2-s2.0-85019868358              5  2017
940  2-s2.0-85016559347              0  2017
941  2-s2.0-85016221051              0  2017
942  2-s2.0-85015335911              1  2017

[943 rows x 3 columns]

In [443]:
funding_interest_scrape = funding_interest_scrape.merge(scrape_data_pub_date, how='left', on='Eid')
funding_interest_scrape

,Eid,Agency_Name,Subject_Field,Country,Title,Publish_month,Year
0,2-s2.0-85038429957,Rachadaphiseksomphot Fund,Agricultural and Biological Sciences,Thailand,A new species of Cedria Wilkinson (Hymenoptera...,12,2017
1,2-s2.0-85038429957,Russian State Research Project,Agricultural and Biological Sciences,Russia,A new species of Cedria Wilkinson (Hymenoptera...,12,2017
2,2-s2.0-85038429957,Russian Foundation for Basic Research,Agricultural and Biological Sciences,Russian Federation,A new species of Cedria Wilkinson (Hymenoptera...,12,2017
3,2-s2.0-85038429957,Chulalongkorn University,Agricultural and Biological Sciences,Thailand,A new species of Cedria Wilkinson (Hymenoptera...,12,2017
4,2-s2.0-85038429957,Thailand Research Fund,Agricultural and Biological Sciences,Thailand,A new species of Cedria Wilkinson (Hymenoptera...,12,2017
...,...,...,...,...,...,...,...
11409,2-s2.0-85015335911,National Research Council of Thailand,Veterinary,Thailand,Nasal carriage of methicillin-resistant Staphy...,1,2017
11410,2-s2.0-84995751226,National Research University Project,Veterinary,Russia,Positive immunomodulatory effects of heterolog...,1,2017
11411,2-s2.0-84995751226,Office of the Higher Education Commission,Veterinary,Thailand,Positive immunomodulatory effects of heterolog...,1,2017
11412,2-s2.0-84995751226,Chulalongkorn University,Veterinary,Thailand,Positive immunomodulatory effects of heterolog...,1,2017
11413,2-s2.0-84995751226,Thailand Research Fund,Veterinary,Thailand,Positive immunomodulatory effects of heterolog...,1,2017

In [444]:
funding_interest_scrape.isna().sum()

Eid              0
Agency_Name      0
Subject_Field    0
Country          0
Title            0
Publish_month    0
Year             0
dtype: int64

In [445]:
funding_interest_scrape = funding_interest_scrape[funding_interest_scrape['Publish_month'] != 0]

In [446]:
all_funding_interest = pd.concat([funding_interest_aj, funding_interest_scrape])

In [447]:
def mapping_country_function(x):
    mapping = {
        'Korea, Republic of' : 'South Korea',
        'Türkiye' : 'Turkey',
        'Iran, Islamic Republic of' : 'Iran'
    }

    if x in mapping:
        return mapping[x]
    else:
        return x

In [448]:
all_funding_interest['Country'] = all_funding_interest['Country'].apply(lambda x : mapping_country_function(x))

In [449]:
all_funding_interest = all_funding_interest.drop_duplicates()

In [450]:
all_funding_interest

,Eid,Agency_Name,Subject_Field,Publish_month,Year,Country,Title
0,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,Materials Science,10.0,2018,Thailand,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,Ratchadapisek Sompoch Endowment Fund,Physics and Astronomy,10.0,2018,Thailand,Effects of iron content on the microstructure ...
2,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,Materials Science,10.0,2018,Thailand,Effects of iron content on the microstructure ...
3,2-s2.0-85053164279,Surface Coatings Technology for Metals and Mat...,Physics and Astronomy,10.0,2018,Thailand,Effects of iron content on the microstructure ...
4,2-s2.0-85053164279,NSFC,Materials Science,10.0,2018,China,Effects of iron content on the microstructure ...
...,...,...,...,...,...,...,...
11409,2-s2.0-85015335911,National Research Council of Thailand,Veterinary,1.0,2017,Thailand,Nasal carriage of methicillin-resistant Staphy...
11410,2-s2.0-84995751226,National Research University Project,Veterinary,1.0,2017,Russia,Positive immunomodulatory effects of heterolog...
11411,2-s2.0-84995751226,Office of the Higher Education Commission,Veterinary,1.0,2017,Thailand,Positive immunomodulatory effects of heterolog...
11412,2-s2.0-84995751226,Chulalongkorn University,Veterinary,1.0,2017,Thailand,Positive immunomodulatory effects of heterolog...
11413,2-s2.0-84995751226,Thailand Research Fund,Veterinary,1.0,2017,Thailand,Positive immunomodulatory effects of heterolog...

In [451]:
all_funding_interest.isna().sum()

Eid              0
Agency_Name      0
Subject_Field    0
Publish_month    0
Year             0
Country          0
Title            0
dtype: int64

In [452]:
# all_funding_interest[all_funding_interest['Year'] == '2017']['Eid'].drop_duplicates().to_csv('Pub_Date_2017_Scrape_List.csv')

In [453]:
funding_country = all_funding_interest['Country'].drop_duplicates().to_list()
for i in funding_country:
    print(i)

Thailand
China
United States
Brazil
Greece
Germany
Colombia
Qatar
Armenia
Switzerland
Mexico
Turkey
Poland
United Kingdom
Belgium
India
Singapore
Ireland
Cyprus
Czechia
Taiwan
Portugal
Russia
Estonia
Finland
Austria
Spain
New Zealand
Hungary
South Korea
Italy
Ecuador
Malaysia
Serbia
Ukraine
France
Bulgaria
Iran
Pakistan
Japan
The Netherlands
South Africa
Croatia
Lithuania
Indonesia
Israel
Czech Republic
Hong Kong
Sweden
Canada
Australia
Denmark
Chile
Argentina
Slovenia
Georgia
Morocco
Vietnam
Sri Lanka
Norway
Ethiopia
Macao
Nigeria
Philippines
Netherlands
United Arab Emirates
Tunisia
Montenegro
Egypt
Kazakhstan
Uruguay
Iraq
Moldova
Guatemala
Peru
Iceland
Slovakia
Laos
Saudi Arabia
Bhutan
Lebanon
Uganda
Kenya
Cameroon
Bangladesh
Costa Rica
Jamaica
Paraguay
Romania
Nepal
Panama
Luxembourg
Myanmar
Azerbaijan
Latvia
Oman
Albania
Brunei
Papua New Guinea
Cambodia
Algeria
Barbados
Belarus
Libya
Saint Kitts and Nevis
Syria
Malawi
Russian Federation
The United States
European Union
The United Kingdom
Viet Nam
The United Arab Emirates
The Philippines
Lao People's Democratic Republic
The Czech Republic
Zambia

In [454]:
all_funding_interest.isna().sum()

Eid              0
Agency_Name      0
Subject_Field    0
Publish_month    0
Year             0
Country          0
Title            0
dtype: int64

In [455]:
all_funding_interest.to_csv('TABLE1.csv', index=False)