In [668]:
import pandas as pd
import numpy as np

In [669]:
aj_funding_cite_data = pd.read_csv('../05_API_Correct_Cite_By_Data/old_funding_cite.csv').rename(columns={"Funding Count" : "Funding_Count", "Cite-By Count" : "Cite-By_Count", "Has Funding" : "Has_Funding", "Has Cite-By" : "Has_Cite-By"})
scrape_funding_cite_data = pd.read_csv('../09_Table_From_Scraping_Data/scrape_funding_cite.csv')

In [670]:
fix_cite_by = pd.read_csv('../05_API_Correct_Cite_By_Data/UPDATE_CITE_TITLE.csv').rename(columns={"Cite-By_Count" : "New-CiteBy"}).drop(columns='Unnamed: 0')

In [671]:
fix_cite_by

,Eid,New-CiteBy,Title
0,2-s2.0-85029781991,61,Shear capacity of high performance fiber reinf...
1,2-s2.0-85049840335,0,Mutation operators in BPMN model
2,2-s2.0-85039703338,31,Phoyunnanin E inhibits migration of non-small ...
3,2-s2.0-85039924338,4,Investigation of alkoxysilanes in the presence...
4,2-s2.0-85039922690,0,Input modeling prioritization using statistica...
...,...,...,...
26943,2-s2.0-85076620291,0,Effects of 1-methylcyclopropene on ascorbate-g...
26944,2-s2.0-85076603666,6,Facile fabrication of mesostructured natural r...
26945,2-s2.0-85076582304,1,Model of No-Tobacco-Use-in-School (NTUIS) on t...
26946,2-s2.0-85076578743,2,A cohort study on homeless ways of life and ha...
26947,2-s2.0-85076565560,47,A phase II study of the efficacy and safety of...

In [672]:
sub_type_df = pd.read_csv('../01_Combine_Data/eid&subtype.csv')[['Eid', 'Subtype']]
sub_type_df

                      Eid  Subtype
0      2-s2.0-85053164279  Article
1      2-s2.0-85054140369  Article
2      2-s2.0-85041527766  Article
3      2-s2.0-85053470598  Article
4      2-s2.0-85052134000  Article
...                   ...      ...
16094  2-s2.0-85163056751  Article
16095  2-s2.0-85158041187  Article
16096  2-s2.0-85152540548  Article
16097  2-s2.0-85132634561  Article
16098  2-s2.0-85165609857  Article

[16099 rows x 2 columns]

In [673]:
sub_type_df['Subtype'].value_counts()

Subtype
Article             13315
Conference Paper      979
Review                877
Book Chapter          378
Letter                169
Erratum               119
Editorial              99
Note                   98
Data Paper             26
Book                   21
Short Survey           17
Retracted               1
Name: count, dtype: int64

In [674]:
aj_funding_cite_data = aj_funding_cite_data.merge(sub_type_df, how='left', on='Eid').dropna()

In [675]:
aj_funding_cite_data = aj_funding_cite_data[aj_funding_cite_data['Subtype'] == 'Article']

In [676]:
aj_funding_cite_data

,Eid,Funding_Count,Cite-By_Count,Has_Funding,Has_Cite-By,Subtype
0,2-s2.0-85053164279,7,8,1,1,Article
2,2-s2.0-85054140369,3,8,1,1,Article
4,2-s2.0-85041527766,0,12,0,1,Article
5,2-s2.0-85053470598,5,3,1,1,Article
6,2-s2.0-85052134000,3,4,1,1,Article
...,...,...,...,...,...,...
20209,2-s2.0-85163056751,11,0,1,0,Article
20210,2-s2.0-85158041187,2,0,1,0,Article
20211,2-s2.0-85152540548,2,1,1,1,Article
20212,2-s2.0-85132634561,5,17,1,1,Article
20214,2-s2.0-85165609857,3,0,1,0,Article

In [677]:
aj_funding_cite_data.isna().sum()

Eid              0
Funding_Count    0
Cite-By_Count    0
Has_Funding      0
Has_Cite-By      0
Subtype          0
dtype: int64

In [678]:
aj_funding_cite_data = aj_funding_cite_data.merge(fix_cite_by, how='left', on='Eid').dropna()
aj_funding_cite_data['New-CiteBy'] = np.where(
    aj_funding_cite_data['Cite-By_Count'] > 0,
    1,
    0
)

In [679]:
aj_funding_cite_data

,Eid,Funding_Count,Cite-By_Count,Has_Funding,Has_Cite-By,Subtype,New-CiteBy,Title
0,2-s2.0-85053164279,7,8,1,1,Article,1,Effects of iron content on the microstructure ...
1,2-s2.0-85053164279,7,8,1,1,Article,1,Effects of iron content on the microstructure ...
2,2-s2.0-85054140369,3,8,1,1,Article,1,Is the occiput-wall distance valid and reliabl...
3,2-s2.0-85054140369,3,8,1,1,Article,1,Is the occiput-wall distance valid and reliabl...
4,2-s2.0-85041527766,0,12,0,1,Article,1,The impact of wire caliber on ERCP outcomes: a...
...,...,...,...,...,...,...,...,...
15140,2-s2.0-85163056751,11,0,1,0,Article,0,High-Dose Exposure to Polymer-Coated Iron Oxid...
15141,2-s2.0-85158041187,2,0,1,0,Article,0,"Evaluating the performance of an inexpensive, ..."
15142,2-s2.0-85152540548,2,1,1,1,Article,1,A Techno-Economic Assessment of a Second-Life ...
15143,2-s2.0-85132634561,5,17,1,1,Article,1,Encouraging green product purchase: Green valu...
15144,2-s2.0-85165609857,3,0,1,0,Article,0,Administration of ketoprofen in postpartum sow...

In [680]:
aj_funding_cite_data = aj_funding_cite_data.drop(columns=['Cite-By_Count', 'Title'])
aj_funding_cite_data = aj_funding_cite_data.rename(columns={"New-CiteBy" : "Cite-By_Count"})

In [681]:
all_funding_cite_data = pd.concat([aj_funding_cite_data, scrape_funding_cite_data])

In [682]:
all_funding_cite_data.pop('Subtype')
all_funding_cite_data

,Eid,Funding_Count,Has_Funding,Has_Cite-By,Cite-By_Count
0,2-s2.0-85053164279,7,1,1,1
1,2-s2.0-85053164279,7,1,1,1
2,2-s2.0-85054140369,3,1,1,1
3,2-s2.0-85054140369,3,1,1,1
4,2-s2.0-85041527766,0,0,1,1
...,...,...,...,...,...
1712,2-s2.0-84964267738,0,0,1,26
1713,2-s2.0-84922900576,0,0,1,1846
1714,2-s2.0-84928152781,0,0,1,12
1715,2-s2.0-84930797064,0,0,1,4
1716,2-s2.0-84905892595,1,1,1,43

In [683]:
all_funding_cite_data = all_funding_cite_data.dropna().drop_duplicates()

In [684]:
all_funding_cite_data

,Eid,Funding_Count,Has_Funding,Has_Cite-By,Cite-By_Count
0,2-s2.0-85053164279,7,1,1,1
2,2-s2.0-85054140369,3,1,1,1
4,2-s2.0-85041527766,0,0,1,1
6,2-s2.0-85053470598,5,1,1,1
8,2-s2.0-85052134000,3,1,1,1
...,...,...,...,...,...
1712,2-s2.0-84964267738,0,0,1,26
1713,2-s2.0-84922900576,0,0,1,1846
1714,2-s2.0-84928152781,0,0,1,12
1715,2-s2.0-84930797064,0,0,1,4
1716,2-s2.0-84905892595,1,1,1,43

In [685]:
all_funding_cite_data.isna().sum()

Eid              0
Funding_Count    0
Has_Funding      0
Has_Cite-By      0
Cite-By_Count    0
dtype: int64

In [686]:
all_funding_cite_data.to_csv('TABLE2.csv', index=False)