In [41]:
import pandas as pd

In [42]:
funding_organization_interest = pd.read_csv('./funding_organization_interest.csv')
country_code = pd.read_csv('./country_code_name.csv')

In [43]:
funding_organization_interest

,Eid,Funding_Agency_Name,Subject_Field,Year,Funding_Agency_Country_Code
0,2-s2.0-85053164279,NSFC,2500,2018,1814991
1,2-s2.0-85053164279,NSFC,3104,2018,1814991
2,2-s2.0-85053164279,Chulalongkorn University,2500,2018,1605651
3,2-s2.0-85053164279,Chulalongkorn University,3104,2018,1605651
4,2-s2.0-85053164279,Yanshan University,2500,2018,1814991
...,...,...,...,...,...
102218,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1106,2023,1605651
102219,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1314,2023,1605651
102220,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1103,2023,1605651
102221,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,1311,2023,1605651
102222,2-s2.0-85165609857,Thailand Science Research and Innovation Fund,3400,2023,1605651

In [44]:
funding_organization_interest = funding_organization_interest.merge(country_code, how='inner')

In [46]:
funding_organization_interest.reset_index().groupby(['Year', 'Funding_Agency_Country_Name', 'Subject_Field']).size().reset_index(name='count').sort_values('count', ascending=False).reset_index().drop(columns='index', axis=1)

funding_organization_interest.to_csv('funding_information_by_country_and_year.csv')