In [5]:
import pandas as pd

In [6]:
affiliation_relation = pd.read_csv('../02_Relation_Table/affiliation_relation.csv')
affiliation_relation

              aff1      aff2  count
0         60091507  60018465     84
1         60091507  60105683     12
2         60091507  60028190    224
3         60091507  60110787     13
4         60091507  60026326      5
...            ...       ...    ...
3166040  115740227  60009024      1
3166041  115740227  60006424      1
3166042   60027252  60009226      1
3166043   60027252  60091507      1
3166044   60105841  60028190      1

[3166045 rows x 3 columns]

In [7]:
affiliation_name = pd.read_csv('../03_Scrape_Affiliation_Name_And_Country/affiliation_name.csv')
affiliation_name

,Unnamed: 0,_id,affid,affname,location,Country
0,0,674efcc87ab4fa1176e75fa4,60278391,Kyiv Academic University,"36 Vernadsky blvd., Kyiv, Ukraine",Ukraine
1,1,674efcc97ab4fa1176e75fa5,60278325,"The Catholic University of Korea, College of N...","222 Banpo-daero Seocho-gu, Seoul, South Korea",South Korea
2,2,674efcca7ab4fa1176e75fa6,60278195,Beijing Institute of Genomics Chinese Academy ...,"NO.1 Beichen West Road, Chaoyang District, Bei...",China
3,3,674efccc7ab4fa1176e75fa7,60278120,Research and Production Center of Microbiology...,"Bogenbay batyr 105, Almaty, Kazakhstan",Kazakhstan
4,4,674efccd7ab4fa1176e75fa8,60277929,Vision College in Riyadh,"7211 Abdullah Al-Jasser – Ishbilia, Riyadh, Ar...",Saudi Arabia
...,...,...,...,...,...,...
11908,11986,674f1f7e32601ca475ed8d6b,60027682,University of Sistan and Baluchestan,"Office of Corporate Affairs, Central Organizat...",Iran
11909,11987,674f1f7f32601ca475ed8d6c,60027679,SOLEIL Synchrotron,"L'Orme des Merisiers, Gif-sur-Yvette, France",France
11910,11988,674f1f8132601ca475ed8d6d,60027678,USDA ARS National Center for Agricultural Util...,"1815 N. University Street, Peoria, IL, United ...",United States
11911,11989,674f1f8232601ca475ed8d6e,60027676,North Bristol NHS Trust,"Trust Headquarters, Southmead Hospital, Southm...",United Kingdom
11912,11990,674f1f8432601ca475ed8d6f,60027675,Sahlgrenska Akademin,"Medicinaregatan 3, Gothenburg, Vastra Gotaland...",Sweden

In [ ]:
affiliation_relation_wit